html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  color: #444;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a:link {text-decoration: none; color: #222; font-style: italic;}
a:visited {text-decoration: none; color: #444;}
a:hover {text-decoration: none; color: #ccc;}

#main {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 300px; 
}

#title {
	line-height: 1.1em;
}

#readme {
  line-height: 1.1em;
  margin-top: 1.5em;
}

/*==========  Special select styling  ==========*/
.form-select {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.form-select:focus, .form-select:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.form-select:after {
  content: '▾';
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 1;
  color: #bbbbbb;
  line-height: 40px;
  font-size: 14px;
}
.ie .form-select:after {
  display: none;
}

select {
  text-align: center;
  position: relative;
  background: transparent;
  background-image: none;
  display: block;
  width: 100%;
  outline: none;
  color: #888888;
  cursor: pointer;
  z-index: 2;
  border: none;
  padding: 10px 10px 10px 5px;
  text-overflow: '';
  -moz-appearance: none;
  -webkit-appearance: none;
}

select[multiple=multiple] {
  height: auto;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
select[multiple=multiple]:hover {
  border-color: #cccccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
select option[disabled] {
  color: #eeeeee;
  text-shadow: none;
  border: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
  display: none;
}

/*==========  Generic styling  ==========*/
.select {
  position: relative;
  margin-top: 1.5em;
  max-width: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow:hidden;
}




